@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');

:root {
  font-size: 18px;
  --background: #f8F8F8;
  --text-primary: #1d1d1d;
  --text-secondary: #3C094C;
  --accent: #8D27AE;
}

[data-theme='dark'] {
  --background: #1d1d1d;
  --text-primary: #f8F8F8;
  --text-secondary: #a84bc6;
  --accent: #8D27AE;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-primary);
  padding-top: 6rem;
  letter-spacing: 0.6px;
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.navbar-white-gray {
  background-color: var(--background);
  box-shadow: 0px 5px 10px #00000021;
}

.nav-link {
  color: var(--text-primary) !important;
}

.nav-link-category {
  color: var(--accent) !important;
}

.nav-link:hover,
.navbar-brand:hover {
  transform: scale(1.1);
}


footer {
  background-color: var(--text-secondary);
  color: var(--background);
  font-weight: 200;
}

footer .nav-link {
  color: var(--background) !important;
}

footer p {
  opacity: 0.8;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8d27ae40;
  transition: all 0.3s;
}

.caja:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px #8d27ae1a;
}

.col-12:nth-child(odd) .caja:hover {
  transform: scale(1.1) rotate(3deg);
}

.col-12:nth-child(even) .caja:hover {
  transform: scale(1.1) rotate(-3deg);
}